@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #e6e4e4;
    --secondary-text-color: #ffffff;
    --terthiary-color: #000000;
    --quarter-color: rgb(40, 39, 39);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}

header {
    min-height: 220px;
    padding: 40px 0 20px 0;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2px;
    cursor: default;
    background-color: palevioletred;

}

header h1 {
    font-family: 'Inter', sans-serif;
}

.social_media {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.social_media div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social_media a {
    color: var(--terthiary-color);
}

.social_media a:last-child {
    fill: whitesmoke;
}

main {
    padding: 70px 0 50px 0;
    background-color: var(--primary-text-color);
}

.container {
    width: 60%;
    min-height: 120px;
    margin: 0 auto;
    /* background-color: orange; */
}

.container > h1 {
    text-align: center;
}

.timeline {
    width: 100%;
    margin-top: 70px;
    display: grid;
    gap: 40px;
    /* background-color: goldenrod; */
}

.configurando_git, .criando_e_clonando_repositorios, 
.fazendo_mudancas, .repositorios_remoto {
    display: grid;
    align-items: center;
    gap: 22px;
}

.content {
    height: 74px;
    /* background-color: orange; */
}

.content > p {
    margin-top: 10px;
}

article > h2 {
    color: var(--primary-text-color);
    background-color: var(--terthiary-color);
    font-weight: bolder;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 14px;
    /* margin: 40px 0; */
    font-size: 16px;
    user-select: none;
}

.code {
    padding: 8px 10px;
    margin: 10px 0 0 0;
    border-radius: 6px;
    display: inline-block;
    color: var(--primary-text-color);
    background-color: rgb(111, 106, 106);
}

.code:hover {
    color: var(--terthiary-color);
    background-color: var(--secondary-text-color);
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .timeline {
        width: 100%;
    }
    .content {
        height: auto;
    }
}